/* importando fonte do google via @import */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* aplicação da fonte escolhida */
html{
    font-family: Lexend;
}

/* personalização do titulo principal */
h1{
    color: rgb(9, 162, 9);
    border: 2px solid black;
}

/* personalização do paragrafo um */
p{
    color: #d9aa1f;
    font-size: 20px;
}

/* tamanho da imagem da logo */
img{
    width: 400px;
}

/* personalização da chamada para as redes sociais */
#links{
    color: red;
}

/* centralização de todo o conteúdo da página */
body{
    text-align: center;
}